@{
    ViewData["Title"] = "Home Page";
}

@*<form>
        <input type="text" name="UserName" value="" />
        <input type="text" name="Password" value="" />

        <button class="btn btn-primary" >Submit</button>
    </form>*@

<form id="account" method="post" action="/Home/FormsTestPost">
    <label for="txtName">Your name:</label>
    <input type="text" id="UserName" name="UserName" />

    <label for="txtAge">Your age:</label>
    <input type="text" id="Password" name="Password" />

    <button type="submit">Submit</button>
</form>

<script type="text/javascript">


</script>
